* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  background-color: white;
  color: black;
}

h1 { font-size: 4.2rem; }

h2 { font-size: 2.8rem; }

h3, h4, p { font-size: 2.1rem; }

a { text-decoration: none; }

/*  Utilities */
.inline-gold { color: gold;}

header .navbar {
  width: 100%;
  height: 90px;
  padding: 7px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .navbar-logo h4 {
  font-size: 1rem;
}