@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Variables */
:root {
  --title-font: "Rubik", sans-serif;
  --text-font: "Libre  Franklin", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  background-color: white;
  color: black;
}

h1 { 
  font-family: var(--title-font);
  font-size: 4.2rem; 
}

h2, legend { 
  font-family: var(--title-font);
  font-size: 2.8rem;
}

h3, h4, p, th, td, label, input, textarea { 
  font-family: var(--text-font);
  font-size: 2.1rem;
}

li {
  font-family: var(--text-font);
  font-size: 24px;
}

a { 
  font-family: var(--text-font);
  text-decoration: none;
  color: white
}

a:hover {
  color: gold;
}

ul { list-style: none; }

/*  Utilities */
.inline-gold { color: gold;}

.btn-black {
  background-color: black;
  color: white;
  font-size: 1.8rem;
  padding: 14px 42px;
  border-radius: 7px;
  border: 3px solid transparent;
  cursor: pointer;
}

.btn-black:hover {
  background-color: gold;
  color: black;
  border: 3px solid black;
  font-weight: 700;
}

.btn-learning-card {
  width: 100%;
  text-align: center;
  background-color: white;
  color: black;
  font-size: 1.8rem;
  padding: 3px;
  border-radius: 3px;
  border: 3px solid black
}

.btn-learning-card:hover {
  background-color: black;
  color: white;
}

#home-btn {
  width: 400px;
}

/* Header & Nav */
header {
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 2;
}

header .navbar {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 3px 0;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .navbar-logo {
  margin-left: 21px;
}

header .navbar-logo h3, header .navbar-logo h3 span { 
  font-family: var(--title-font);
  font-size: 2.8rem;
}

header .navbar-logo h4 { 
  font-family: var(--text-font);
  font-size: 1.35rem;
}

header .navbar nav#nav-container ul#main-nav-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .navbar nav#nav-container ul#main-nav-menu li {
  position: relative;
  padding: 3px;
  margin: 14px 7px;
  border-bottom: 3px solid transparent;
}

header .navbar nav#nav-container ul#main-nav-menu li:hover {
  border-bottom: 3px solid gold;
}

header .navbar nav#nav-container ul#main-nav-menu li#drop-nav-container {
  padding: 0;
  margin: 0;
  border-bottom: 0;
  width: 70px;
  height: 70px;
}

header .navbar nav#nav-container ul#main-nav-menu li a {
  color: white;
  font-family: var(--title-font);
  font-size: 18px;
}

header .navbar nav#nav-container ul#main-nav-menu li #hamburger {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  height: 70px;
  width: 70px;
}

header .navbar nav#nav-container ul#main-nav-menu li #hamburger.nav-open {
  background-color: gold;
}

header .navbar nav#nav-container ul#main-nav-menu li #hamburger .hamburger-line {
  position: absolute;
  left: 21px;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background-color: white;
}

header .navbar nav#nav-container ul#main-nav-menu li #hamburger .hamburger-line.mid {
  display: block;
  top: 33.5px;
}

header .navbar nav#nav-container ul#main-nav-menu li #hamburger .hamburger-line.mid.nav-open {
  display: none;
}

header .navbar nav#nav-container ul#main-nav-menu li #hamburger .hamburger-line.top {
  top: 25px;
  transition: 0.42s ease;
}

header .navbar nav#nav-container ul#main-nav-menu li #hamburger .hamburger-line.top.nav-open {
  top: 33.5px;
  background-color: black;
  transform: rotate(405deg);
  transition: 0.42s ease;
}

header .navbar nav#nav-container ul#main-nav-menu li #hamburger .hamburger-line.bot {
  top: 42px;
  transition: 0.42s ease;
}

header .navbar nav#nav-container ul#main-nav-menu li #hamburger .hamburger-line.bot.nav-open {
  top: 33.5px;
  background-color: black;
  transform: rotate(-405deg);
  transition: 0.42s ease;
}

header .navbar nav#nav-container ul#main-nav-menu li #hamburger-btn {
  position: absolute;
  top: 0;
  right: 0;
  height:  70px;
  width: 70px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

header .navbar nav#nav-container ul#main-nav-menu li ul#drop-nav-menu {
  position: absolute;
  top: 70px;
  right: 0px;
  width: 280px;
  height: 0px;
  overflow: hidden;
  transition: 0.42s ease;
  background-color: gold;border-bottom-left-radius: 7px;
  box-shadow: 3px 3px 21px black;
}

header .navbar nav#nav-container ul#main-nav-menu li ul#drop-nav-menu.nav-open {
  height: calc(100vh - 84px);
  transition: 0.42s ease;
}

header .navbar nav#nav-container ul#main-nav-menu li ul#drop-nav-menu li {
  padding: 3px;
  margin: 14px;
  border-bottom: 3px solid transparent;
}

header .navbar nav#nav-container ul#main-nav-menu li ul#drop-nav-menu li:hover {
  border-bottom: 3px solid black;
}

header .navbar nav#nav-container ul#main-nav-menu li ul#drop-nav-menu li a {
  color: black;
}

.show-320 {
  display: none;
}

/* Hero Home */
section#hero-home {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 42px 42px 42px;
}

section#hero-home h1 { margin-bottom: 21px; }
section#hero-home h2 { 
  font-family: var(--text-font);
  margin-bottom: 14px;
  width: 63vw;
}

/* Other Heros */
main.hero-mod {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 120px 42px 42px 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main.hero-mod section.hero-mod-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}

main.hero-mod section.hero-mod-info h1 {
  margin-bottom: 14px;
}

main.hero-mod section.hero-mod-info h2 {
  margin-right: 14px;
}

main.hero-mod section.hero-mod-info img {
  width: 210px;
  height: auto;
}

main.hero-mod section.exercises-nav {
  width: 100%;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 21px;
}

main.hero-mod section.exercises-nav nav {
  position: relative;
  margin-right: 14px;
}

main.hero-mod section.exercises-nav nav ul {
  position: relative;
  left: 42px;
  width: calc(100% - 42px);
  list-style-type: disc;
}

main.hero-mod section.exercises-nav nav ul li {color: orangered;}

main.hero-mod section.exercises-nav nav ul li a {
  color: black;
  font-size: 16px;
}

main.hero-mod section.exercises-nav nav ul li a:hover {
  color: blue;
}

main.hero-mod section.exercises-nav nav ul li a.no-click:hover {
  cursor: default;
  color: black;
}

main.hero-mod section.exercises-nav .take-aways {
  width: 50%;
  height: auto;
  border-radius: 14px;
  background-color: gold;
  box-shadow: 3px 3px 21px black;
  padding: 21px;
}

/* Page content sections */
section#my-learnings-gallery {
  position: relative;
  min-height: calc(100vh - 70px);
  width: 100%;
  background-color: gold;
  padding: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

section#my-learnings-gallery .card-container {
  width: 100%;
  padding: 7px;
  display: flex;
  justify-content: space-evenly;
}

section#my-learnings-gallery .card-container:nth-child(1) {
  justify-content: space-between;
}

section#my-learnings-gallery .mod-card {
  position: relative;
  width: 210px;
  height: auto;
  background-color: white;
  border-radius: 7px;
  padding: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 21px;
  box-shadow: 3px 3px 21px black;
  z-index: 1;
}

section#my-learnings-gallery .mod-card img {
  width: 180px;
  height: auto;
}

main.hero-mod section.js-code {
  background-color: gold;
  color: black;
  border-radius: 14px;
  overflow: scroll;
  margin-bottom: 42px;
}

main.hero-mod section.run-code {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

main.hero-mod section.run-code button {
  width: 210px;
  height: 42px;
  padding: 7px;
  margin-bottom: 21px;
}

main.hero-mod section.run-code .display-terminal {
  width: 100%;
  height: 200px;
  background-color: black;
  color: gold;
  font-size: 1.6rem;
  padding: 21px;
  overflow: scroll;
  margin-bottom: 21px;
}

main.hero-mod section.run-code .display-terminal p {
  font-size: 1.6rem;
}

main.hero-mod section.pallete-intro {
  margin-bottom: 21px;
}

main.hero-mod section.pallete-intro h1 {
  margin-bottom: 14px;
}

main.hero-mod section.pallete-intro a {
  font-size: 2.8rem;
}

main.hero-mod section.palletes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;
}

.pallete-card {
  aspect-ratio: 1/1;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.pallete-card h3 {
  align-self: flex-end;
}

.pallete-card h3 {
  font-size: 1.8rem;
}

.pallete-card .pallete-box {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  font-size: 2.1rem;
}

.pallete-card .pallete-box.dark:hover {
  color: white;
}

.pallete-card .pallete-box.light:hover {
  color: black;
}

footer {
  position: relative;
  width: 100%;
  padding: 21px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}

footer #footer-container {
  display: flex;
  flex-direction: column;
}

footer #footer-social {
  margin-bottom: 21px;
}

footer #footer-social a {
  border-radius: 7px;
  color: white;
  padding: 7px;
  margin: 0 7px;
  cursor: pointer;
}

footer #footer-social a:hover {
  background-color: gold;
  color: black;
}

footer #footer-info p {
  font-size: 1.2rem;
}

footer #my-webs {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

footer #my-webs a {
  font-size: 1.8rem;
  color: white;
}

footer #my-webs a:hover {
  color: gold;
}

@media (max-width: 992px) {
  section#hero-home h2 {
    width: 100%;
    font-size: 2.4rem;
  }
}

@media (max-width: 768px) {
  section#hero-home h1 {
    font-size: 3.6rem;
  }

  section#hero-home h2 {
    font-size: 2.1rem;
  }

  #home-btn {
    width: 300px;
    padding: 14px;
    font-size: 1.6rem;
  }

  section#my-learnings-gallery {
    padding: 42px 7px;
  }

  section#my-learnings-gallery .card-container {
    padding: 7px;
  }

  section#my-learnings-gallery .mod-card {
    width: 150px;
    padding: 7px;
  }

  section#my-learnings-gallery .mod-card img {
    width: 120px;
  }

  .btn-learning-card {
    font-size: 1.4rem;
  }

  main.hero-mod {
    padding: 120px 21px 0 21px;
  }

  main.hero-mod section.hero-mod-info h2 {
    font-size: 2.4rem;
  }

  main.hero-mod section.hero-mod-info h1 {
    font-size: 3.6rem;
  }

  main.hero-mod section.hero-mod-info img {
    width: 140px;
    height: auto;
  }

  main.hero-mod section.exercises-nav {
    padding: 21px 7px;
    gap: 21px;
  }

  main.hero-mod section.exercises-nav nav ul {
    left: 21px;
  }

  main.hero-mod section.exercises-nav .take-aways {
    width: 50%;
    padding: 14px;
  }

  main.hero-mod section.pallete-intro {
    margin-bottom: 21px;
  }

  main.hero-mod section.pallete-intro h1 {
    font-size: 2.8rem;
    margin-bottom: 14px;
  }

  main.hero-mod section.pallete-intro h2 {
    font-size: 2.1rem;
  }

  main.hero-mod section.pallete-intro a {
    font-size: 2.1rem;
  }
  
  main.hero-mod section.palletes {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 21px;
  }

  footer {
    flex-direction: column;
    justify-content: space-between;
  }
  
  footer #footer-container:nth-child(1) {
    align-items: center;
    margin-bottom: 7px;
  }
  
  footer #footer-social {
    margin-bottom: 7px;
  }
  
  footer #footer-social a.fa-4x {
    font-size: 3em;
  }
  
  footer #my-webs {
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  footer #my-webs a {
    font-size: 1.4rem;
    color: gold;
  }
  
  footer #my-webs a:hover {
    color: white;
  }
}

@media (max-width: 576px) {
  header {
    height: 50px;
  }
  
  header .navbar-logo {
    margin-left: 14px;
  }
  
  header .navbar-logo h3, header .navbar-logo h3 span { 
    font-size: 2.1rem;
  }
  
  header .navbar-logo h4 { 
    font-size: 1rem;
  }
  
  header .navbar nav#nav-container ul#main-nav-menu li {
    margin: 7px 3px;
  }
  
  header .navbar nav#nav-container ul#main-nav-menu li#drop-nav-container {
    width: 50px;
    height: 50px;
  }
  
  header .navbar nav#nav-container ul#main-nav-menu li a {
    font-size: 16px;
  }
  
  header .navbar nav#nav-container ul#main-nav-menu li #hamburger {
    height: 50px;
    width: 50px;
  }
  
  header .navbar nav#nav-container ul#main-nav-menu li #hamburger.nav-open {
    background-color: gold;
  }
  
  header .navbar nav#nav-container ul#main-nav-menu li #hamburger .hamburger-line {
    position: absolute;
    left: 14px;
    width: 20px;
    height: 2px;
    background-color: white;
  }
  
  header .navbar nav#nav-container ul#main-nav-menu li #hamburger .hamburger-line.mid {
    display: block;
    top: 16px;
  }
  
  header .navbar nav#nav-container ul#main-nav-menu li #hamburger .hamburger-line.mid.nav-open {
    display: none;
  }
  
  header .navbar nav#nav-container ul#main-nav-menu li #hamburger .hamburger-line.top {
    top: 24px;
    transition: 0.42s ease;
  }
  
  header .navbar nav#nav-container ul#main-nav-menu li #hamburger .hamburger-line.top.nav-open {
    top: 24px;
    background-color: black;
    transform: rotate(405deg);
    transition: 0.42s ease;
  }
  
  header .navbar nav#nav-container ul#main-nav-menu li #hamburger .hamburger-line.bot {
    top: 32px;
    transition: 0.42s ease;
  }
  
  header .navbar nav#nav-container ul#main-nav-menu li #hamburger .hamburger-line.bot.nav-open {
    top: 24px;
    background-color: black;
    transform: rotate(-405deg);
    transition: 0.42s ease;
  }
  
  header .navbar nav#nav-container ul#main-nav-menu li #hamburger-btn {
    height: 50px;
    width: 50px;
  }
  
  header .navbar nav#nav-container ul#main-nav-menu li ul#drop-nav-menu {
    top: 50px;
  }

  section#hero-home {
    padding: 120px 14px 7px 14px;
  }

  section#my-learnings-gallery {
    padding: 21px 7px;
  }

  section#my-learnings-gallery .card-container {
    padding: 14px;
    flex-direction: column;
    align-items: center;
    gap: 21px;
  }

  section#my-learnings-gallery .mod-card {
    width: 210px;
  }

  section#my-learnings-gallery .mod-card img {
    width: 180px;
  }

  .btn-learning-card {
    font-size: 1.6rem;
  }

  main.hero-mod {
    padding: 120px 14px 0 14px;
  }

  main.hero-mod section.hero-mod-info h1 {
    font-size: 3.6rem;
  }

  main.hero-mod section.hero-mod-info h2 {
    font-size: 1.6rem;
  }

  main.hero-mod section.hero-mod-info img {
    position: absolute;
    left: 140px;
    top: 120px;
    width: 42px;
    height: auto;
  }

  main.hero-mod section.hero-mod-info img#js {
    left: 210px
  }

  main.hero-mod section.hero-mod-info img#css {
    left: 100px
  }

  main.hero-mod section.exercises-nav {
    flex-direction: column;
  }

  main.hero-mod section.exercises-nav nav ul {
    left: 42px;
  }

  main.hero-mod section.exercises-nav .take-aways {
    width: 100%;
    padding: 21px;
  }

  main.hero-mod section.pallete-intro {
    margin-bottom: 21px;
  }

  main.hero-mod section.pallete-intro h1 {
    font-size: 2.1rem;
    margin-bottom: 14px;
  }

  main.hero-mod section.pallete-intro h2 {
    font-size: 1.8rem;
  }

  main.hero-mod section.pallete-intro a {
    font-size: 1.8rem;
  }
  
  main.hero-mod section.palletes {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 21px;
  }
}

@media (max-width: 320px) {
  header .navbar nav#nav-container ul#main-nav-menu li ul#drop-nav-menu {
    width: 200px;
  }

  header .navbar nav#nav-container ul#main-nav-menu li a {
    font-size: 14px;
  }

  .hide-320 {
    display: none;
  }

  .show-320 {
    display: block;
  }

  section#hero-home {
    padding: 120px 7px 7px 7px;
    align-items: center;
  }

  section#hero-home h1 {
    font-size: 2.8rem;
    text-align: center;
  }
  section#hero-home h2 {
    padding: 7px;
    font-size: 1.4rem;
    text-align: center;
  }

  #home-btn {
    width: 200px;
    padding: 7px;
    font-size: 1.2rem;
  }

  section#my-learnings-gallery .mod-card {
    width: 180px;
  }

  section#my-learnings-gallery .mod-card img {
    width: 150px;
  }

  main.hero-mod section.exercises-nav .take-aways {
    padding: 14px;
  }

  footer {
    padding: 14px 7px;
  }

  footer #footer-social a.fa-4x {
    font-size: 2em;
    margin: 0;
  }
  
  footer #my-webs {
    flex-direction: column;
    align-items: center;
  }
}


