* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.section-container {
  background-color: red;
  height: auto;
  width: 100vw;
  padding: 21px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 14px;
  width: calc(100vw / 4);
  aspect-ratio: 1/1;
  height: 100%;
}

.card-description {
  padding: 14px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 14px;
}

.product-counter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-counter button {
  height: 42px;
  width: 21px;
  border: none;
  border-radius: 3px;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.product-counter button:hover {
  opacity: 0.75;
}

.forms-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-container {
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  width: auto;
  box-shadow: 0 2px 5px lightslategray;
  display: flex;
  flex-direction: column;
}

.form-container h1.form-1 {
  color: blue;
}

.form-container h1.form-2 {
  color: purple;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  margin: 14px;
  width: auto;
}

.form-container .form-group input {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding:7px;
}

.form-container button {
  width: 84%;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 7px;
  margin: 14px 0;
  align-self: center;
}

.form-container button.form-2 {
  background-color: purple;
}

.form-container button:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {

  .section-container {
    grid-template-columns: 1fr 1fr;
    row-gap: 42px;
  }

  .card {
    width: calc(100vw / 3);
  }

  .forms-container {
    grid-template-columns: 1fr;
  }

  .form-container {
    margin: 14px 0;
  }
}

@media (max-width: 576px) {
  .section-container {
    grid-template-columns: 1fr;
  }

  .card {
    width: 70vw;
  }
}

@media (max-width: 320px) {
  .card {
    width: 84vw;
  }
}